.VideoList {

}

.VideoList li {
  height: 90px;
  line-height: 22.5px;
  overflow: hidden;
  margin-bottom: 10px;

  cursor: pointer;
  
  border: 2px solid #f7f7f9;
}

.VideoList li:hover {
  background-color: #f7f7f9;
}